@use "variables";

// Link Menu Parent Styling
#link-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: linear-gradient(
    145deg,
  black,
  black 45%,
  white 50%,
  white 55%,
  black 60%,
  black 
  );
  background-size: 300% 300%;
  color: white;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  animation: translate-nav 6s infinite cubic-bezier(.03,.26,0,1);
}

@keyframes translate-nav {
  0% {
    background-position: 100%;
  }

  50% {
    background-position: 100%;
  }

  70% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}
// ----------------------->

// Link Menu Children Styling
#link-menu li {
  font-size: clamp(variables.$large-fs, 3vw, variables.$larger-fs);
  letter-spacing: 1.5px;
  transition: transform 0.5s;
}

#link-menu a {
  text-decoration: none;
  color: inherit;
}

#link-menu li:hover {
  transform: scale(1.10);
}

.logo-container {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  width: variables.$logo-width;
  text-align: center;
  background-image: linear-gradient(
    240deg,
    hsl(0, 100%, 50%),
    hsl(268, 75%, 50%)
  );
  background-size: 300% 300%;
  background-position: 100% 0%;
  border-radius: 10% 40%;
  transition: 
    border-radius 1s,
    background-position 1s;
}

.logo-container:hover {
  background-position: 0% 100%;
  border-radius: 40% 10%;
}

.logo-text {
  font-size: calc(variables.$logo-width * 0.6);
  margin: 0;
  font-family: "Montserrat", Monospace;
  color: inherit;
}
// ----------------------->

// Icon Container Styling
.icon-link-container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 2em;
  gap: 4em;
}

#link-menu .icon-link-container li:hover {
  transform: scale(1.50);
}

// ----------------------->

// Nav Toggler Styling
.nav-toggler {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  width: variables.$nav-toggler-width;
  aspect-ratio: 1 / 3;
  top: 40%;
  left: calc(-1 * variables.$nav-toggler-width);
  z-index: 99;
  border: none;
}