@use "variables";

// Link Menu Parent Styling
#link-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: linear-gradient(
    145deg,
  black,
  black 45%,
  white 50%,
  white 55%,
  black 60%,
  black 
  );
  background-size: 300% 300%;
  color: white;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  animation: translate-nav 6s infinite cubic-bezier(.03,.26,0,1);
}

@keyframes translate-nav {
  0% {
    background-position: 100%;
  }

  50% {
    background-position: 100%;
  }

  70% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}
// ----------------------->

// Link Menu Children Styling
#link-menu li {
  font-size: clamp(variables.$small-fs, 3vw, variables.$larger-fs);
  letter-spacing: 1.5px;
  transition: transform 0.5s;
}

#link-menu a {
  text-decoration: none;
  color: inherit;
}

#link-menu li:hover {
  transform: scale(1.10);
}

.logo-container {
  display: grid;
  place-items: center;
  width: variables.$logo-width;
  height: variables.$logo-height;
  text-align: center;
  background-image: linear-gradient(
    240deg,
    hsl(0, 100%, 50%),
    hsl(268, 75%, 50%)
  );
  background-size: 300% 300%;
  animation: gradient 4s infinite;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }

  70% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }

  85% {
    background-position: 0% 100%;
    border-radius: 40% 10%;
  }

  100% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }
}

.logo-text {
  font-size: calc(variables.$logo-width * 0.6);
  margin: 0;
  font-family: "Montserrat", Monospace;
  color: inherit;
}
// ----------------------->

// Icon Container Styling
.icon-link-container {
  display: flex;
  margin-left: auto;
  margin-right: 5rem;
  column-gap: 5rem;
}

#link-menu .icon-link-container li:hover {
  transform: scale(1.50);
}

// ----------------------->
