@use "variables";
// ----------------------->
// Section 1 Styling

.section:nth-child(2) {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 10%),
    hsl(0, 0%, 10%) 35%,
    hsl(196, 100%, 50%),
    hsl(0, 0%, 10%) 65%,
    hsl(0, 0%, 10%)
  );
  background-size: 500% 500%;
  animation: translate-background 30s linear infinite;
}



@keyframes translate-background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0 50%;
  }
}

.second-section-container {
  width: clamp(60rem, 80%, 100rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.section-two-heading {
  margin-top: 5rem;
  text-align: center;
  font-size: clamp(4rem, 3vw, 6rem);
  letter-spacing: 2px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-type-container {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.project-type-button {
  padding: 1rem 3rem;
  font-size: variables.$normal-fs;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 100vmax;
  cursor: pointer;
  transition: transform 0.5s;
}

.project-type-button:hover {
  transform: scale(1.15);
}

.react {
  background-color: #282c34;
  border: 2px solid #61dafb;
  color: #61dafb;
}

.sql {
  background-color: #3E6E93;
  color: #f29221;
  border: 2px solid white;
}

.frontend {
  background-image: linear-gradient(
    90deg,
    orange,
    yellow,
    rgb(0, 102, 255)
  );
  border: 2px solid white;
  color: black;
}

.cli {
  background-color: black;
  border: 2px solid white;
  color: white;
  font-family: monospace;
}

.project-buttons-container {
  margin-bottom: 2rem;
  text-align: center;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-img {
  width: 100%;
  aspect-ratio: 4 / 3;
  border: 0;
  border-radius: 1rem;
}

.project-information {
  padding: 0 3rem;
  justify-self: center;
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
}

.project-information-header {
  font-size: clamp(3rem, 3vw, 4rem);
}

.project-github-link, .project-deployed-link {
  font-size: clamp(2rem, 2vw, 2.6rem);
}

.project-tech-stack {
  font-size: clamp(1.6rem, 2vw, 2.2rem);
}

.project-description {
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  text-align: left;
}