@use "variables";
// ----------------------->
// Section 1 Styling

.section:nth-child(1) {
  padding-top: 5rem;
  background-image: linear-gradient(
    45deg,
    hsl(39, 100%, 50%),
    hsl(0, 75%, 50%),
    hsl(58, 75%, 50%),
  );
  background-size: 400% 400%;
  color: white;
  animation: section1-gradient 40s linear infinite;
}

@keyframes section1-gradient {
  0% {
    background-position: 100% 0;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0;
  }
}

.hero-header-container, .hero-bio-header, .slidein-text {
  font-size: clamp(variables.$largest-fs, 4vw, 5rem);
  text-align: center;
}

.hero-header-container {
}

.hero-header {
}

.hero-img {
  aspect-ratio: 4 / 3;
  width: clamp(30rem, 50%, 45rem);
  border-radius: 100vmax;
  border: 5px solid rgba(255,255,255,0.50);
}

.slidein-text-container {
  overflow-x: hidden;
  width: 80%;
}

.slidein-text {
  animation: slidein-text var(--slidein-timer) cubic-bezier(.65,.05,.36,1) infinite;
}

@keyframes slidein-text {
  0% {
    transform: translateX(-150%);
  }
  
  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }
  
  100% {
    transform: translateX(150%);
  }
  
}

.hero-bio-container {
  width: clamp(75ch, 80% , 175ch);
  justify-self: start;
}

.hero-bio-header {
  letter-spacing: 2px;
}

.hero-bio-text {
  font-size: clamp(variables.$large-fs, 2vw, variables.$larger-fs);
  letter-spacing: 1.5px;
  line-height: 1.25;
}

.hero-bio-text::before {
  content: "";
}
