@use "variables";
// ----------------------->
// Section 1 Styling

.section:nth-child(1) {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 2rem repeat(4, 1fr) 2rem;
  grid-template-rows: 25% repeat(3, 1fr);
  justify-items: center;
  background-image: linear-gradient(
    45deg,
    hsl(39, 100%, 50%),
    hsl(0, 75%, 50%),
    hsl(58, 75%, 50%),
  );
  background-size: 400% 400%;
  color: white;
  animation: section1-gradient 40s linear infinite;
}

@keyframes section1-gradient {
  0% {
    background-position: 100% 0;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0;
  }
}

.hero-header-container, .hero-bio-header, .slidein-text {
  font-size: clamp(variables.$large-fs, 4vw, 5rem);
  text-align: center;
}

.hero-header-container {
  align-self: end;
  grid-column: 2 / span 2;
  grid-row: 1;
}

.hero-header {
  margin-bottom: 5rem;
}

.hero-img {
  aspect-ratio: 4 / 3;
  width: clamp(30rem, 50%, 45rem);
  border-radius: 100vmax;
  border: 5px solid rgba(255,255,255,0.50);
  grid-column: 2 / span 2;
  grid-row: 2;
}

.slidein-text-container {
  margin-top: 5rem;
  overflow-x: hidden;
  font-size: clamp(variables.$normal-fs, 3vw, variables.$largest-fs);
  width: 80%;
  grid-column: 2 / span 2;
  grid-row: 3;
  align-self: center;
}

.slidein-text {
  animation: slidein-text var(--slidein-timer) cubic-bezier(.65,.05,.36,1) infinite;
}

@keyframes slidein-text {
  0% {
    transform: translateX(-150%);
  }
  
  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }
  
  100% {
    transform: translateX(150%);
  }
  
}

.hero-bio-container {
  width: clamp(75ch, 80% , 175ch);
  grid-column: 4 / -1;
  grid-row: 1 / span 3;
  justify-self: start;
  align-self: center;
}

.hero-bio-text {
  font-size: clamp(variables.$normal-fs, 2vw, variables.$larger-fs);
  letter-spacing: 1.5px;
  line-height: 1.25;
  margin: 2rem 0;
}

.hero-bio-text::before {
  content: "";
  margin-left: 3rem;
}
