// Imports
@use "variables";
@use "link-menu";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');
// ----------------------->

// Global Styling
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Bebas Neue', cursive;
}

body {
  height: 100%;
}
// ----------------------->