// Imports
@use "variables";
@use "link-menu";
@use "section1";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');
// ----------------------->

// Global Styling
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --slidein-timer: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Bebas Neue', cursive;
}

body {
  height: 100%;
}

strong {
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    black,
    black 40%,
    white,
    black 60%,
    black
    );
  background-clip: text;
  background-size: 400% 400%;
  color: transparent;
  animation: focus-strong 3s linear infinite;
}

@keyframes focus-strong {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#fp-nav ul li .fp-tooltip {
  font-family: inherit;
  font-size: variables.$small-fs;
  letter-spacing: 2px;
}

#fp-nav ul li a span{
  background-color: black;
  transition: background-color 0.5s;
}

#fp-nav ul li a span:hover{
  background-color: white;
}

// ----------------------->
// Media Queries
@media (max-width: 1095px) {
  .logo-header, .hero-bio-header, .hero-bio-text:nth-of-type(1) {
    display: none;
  }

  .hero-img, .hero-bio-container {
    grid-column: span 2;
  }

  .first-section-container { 
    grid-template-rows: 12rem 1fr 1fr;
    gap: 3rem;
    text-align: center;
  }

  .hero-img {
    width: clamp(30rem, 50%, 38rem);
  }

  .hero-bio-container {
    align-self: flex-start;
  }
}

@media (max-width: 625px) {
  #link-menu {
    justify-content: space-evenly;
  }

  #fp-nav {
    display: none;
  }

  .icon-link-container {
    margin: 0;
    position: fixed;
    inset: 25% 0 25% 90%;
    background-color: rgba(0,0,0, 0.80);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
  }

  .first-section-container {
    padding: 2rem;
    grid-template-rows: 12rem max-content 1fr;
    gap: 1rem
  }

  .hero-header-container {
    font-size: clamp(2.8rem, 6vw, 4rem);
  }
  
  .slidein-text-container {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  .hero-img {
    width: clamp(25rem, 60%, 38rem);
  }

}
// ----------------------->