// Imports
@use "variables";
@use "link-menu";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');
// ----------------------->

// Global Styling
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dropin-timer: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Bebas Neue', cursive;
}

body {
  height: 100%;
}

strong {
  background-image: linear-gradient(
    90deg,
    black,
    black 40%,
    white,
    black 60%,
    black
    );
  background-clip: text;
  background-size: 400% 400%;
  color: transparent;
  animation: focus-strong 3s linear infinite;
}

@keyframes focus-strong {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#fp-nav ul li .fp-tooltip {
  font-family: inherit;
  font-size: variables.$small-fs;
  letter-spacing: 2px;
}

#fp-nav ul li a span{
  background-color: black;
  transition: background-color 0.5s;
}

#fp-nav ul li a span:hover{
  background-color: white;
}
// ----------------------->
// Section 1 Styling

.section:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  background-image: linear-gradient(
    45deg,
    hsl(39, 100%, 50%),
    hsl(0, 75%, 50%),
    hsl(58, 75%, 50%),
  );
  background-size: 400% 400%;
  color: white;
  animation: section1-gradient 40s linear infinite;
}

@keyframes section1-gradient {
  0% {
    background-position: 100% 0;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0;
  }
}

.hero-header-container, .hero-bio-header, .dropin-text {
  font-size: clamp(variables.$large-fs, 4vw, 5rem);
  text-align: center;
}

.hero-header-container {
  grid-column: 2 / span 2;
}

.hero-header-container > * {
  margin: 5rem 0;
}

.hero-img {
  aspect-ratio: 4 / 3;
  width: clamp(25rem, 100%, 45rem);
  border-radius: 100vmax;
  border: 5px solid rgba(255,255,255,0.50);
  grid-column: 2 / span 2;
  grid-row: 2;
}

.dropin-text-container {
  overflow-y: hidden;
  font-size: clamp(variables.$normal-fs, 3vw, variables.$largest-fs);
  max-height: 50%;
  grid-column: span 2;
  align-self: center;
}

.dropin-text {
  animation: dropin-text var(--dropin-timer) cubic-bezier(.65,.05,.36,1) infinite;
}

@keyframes dropin-text {
  0% {
    transform: translateY(-150px);
  }
  
  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(-10px);
  }
  
  100% {
    transform: translateY(150px);
  }
  
}

.hero-bio-container {
  width: clamp(75ch, 80% , 175ch);
  grid-column: 4 / span 3;
  grid-row: 2;
}

.hero-bio-text {
  font-size: clamp(variables.$smaller-fs, 2vw, variables.$large-fs);
  letter-spacing: 1.5px;
  line-height: 1;
  margin: 2rem 0;
}

.hero-bio-text::before {
  content: "";
  margin-left: 5rem;
}
