@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap");
#link-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: linear-gradient(145deg, black, black 45%, white 50%, white 55%, black 60%, black);
  background-size: 300% 300%;
  color: white;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  animation: translate-nav 6s infinite cubic-bezier(0.03, 0.26, 0, 1);
}

@keyframes translate-nav {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 100%;
  }
  70% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
#link-menu li {
  font-size: clamp(1.6rem, 3vw, 3rem);
  letter-spacing: 1.5px;
  transition: transform 0.5s;
}

#link-menu a {
  text-decoration: none;
  color: inherit;
}

#link-menu li:not(:first-child):hover {
  transform: scale(1.1);
}

.logo-container {
  display: grid;
  place-items: center;
  width: 6rem;
  height: 6rem;
  text-align: center;
  background-image: linear-gradient(240deg, hsl(0deg, 100%, 50%), hsl(268deg, 75%, 50%));
  background-size: 300% 300%;
  animation: gradient 4s infinite;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }
  70% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }
  85% {
    background-position: 0% 100%;
    border-radius: 40% 10%;
  }
  100% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }
}
.logo-text {
  font-size: 3.6rem;
  margin: 0;
  font-family: "Montserrat", Monospace;
  color: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dropin-timer: 0;
}

html {
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
}

body {
  height: 100%;
}

#fp-nav ul li .fp-tooltip {
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

#fp-nav ul li a span {
  background-color: black;
  transition: background-color 0.5s;
}

#fp-nav ul li a span:hover {
  background-color: white;
}

.section:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  background-image: linear-gradient(45deg, hsl(39deg, 100%, 50%), hsl(0deg, 75%, 50%), hsl(58deg, 75%, 50%));
  background-size: 400% 400%;
  color: white;
  animation: section1-gradient 40s linear infinite;
}

@keyframes section1-gradient {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0;
  }
}
.hero-img {
  aspect-ratio: 4/3;
  width: clamp(30rem, 50%, 40rem);
  border-radius: 100vmax;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.dropin-text-container {
  overflow-y: hidden;
  font-size: clamp(2rem, 3vw, 3.6rem);
  min-height: max-content;
}

.dropin-text {
  animation: dropin-text var(--dropin-timer) cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

@keyframes dropin-text {
  0% {
    transform: translateY(-150px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(150px);
  }
}
.hero-bio-container {
  width: clamp(75ch, 100%, 150ch);
}

.hero-bio-header {
  font-size: clamp(2.4rem, 4vw, 6rem);
  text-align: center;
}

.hero-bio-text {
  font-size: clamp(1.2rem, 2vw, 3rem);
  letter-spacing: 1px;
  line-height: 1;
}

/*# sourceMappingURL=styles.css.map */
