@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap");
#link-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: linear-gradient(145deg, black, black 45%, white 50%, white 55%, black 60%, black);
  background-size: 300% 300%;
  color: white;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  animation: translate-nav 6s infinite cubic-bezier(0.03, 0.26, 0, 1);
}

@keyframes translate-nav {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 100%;
  }
  70% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
#link-menu li {
  font-size: clamp(2.4rem, 3vw, 3rem);
  letter-spacing: 1.5px;
  transition: transform 0.5s;
}

#link-menu a {
  text-decoration: none;
  color: inherit;
}

#link-menu li:hover {
  transform: scale(1.1);
}

.logo-container {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  width: 6rem;
  text-align: center;
  background-image: linear-gradient(240deg, hsl(0deg, 100%, 50%), hsl(268deg, 75%, 50%));
  background-size: 300% 300%;
  animation: gradient 4s infinite;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }
  70% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }
  85% {
    background-position: 0% 100%;
    border-radius: 40% 10%;
  }
  100% {
    background-position: 100% 0%;
    border-radius: 10% 40%;
  }
}
.logo-text {
  font-size: 3.6rem;
  margin: 0;
  font-family: "Montserrat", Monospace;
  color: inherit;
}

.icon-link-container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 2em;
  gap: 4em;
}

#link-menu .icon-link-container li:hover {
  transform: scale(1.5);
}

.nav-toggler {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  width: 3rem;
  aspect-ratio: 1/3;
  top: 40%;
  left: -3rem;
  z-index: 99;
  border: none;
}

.section:nth-child(1) {
  background-image: linear-gradient(45deg, hsl(39deg, 100%, 50%), hsl(0deg, 75%, 50%), hsl(58deg, 75%, 50%));
  background-size: 400% 400%;
  color: white;
  animation: section1-gradient 40s linear infinite;
}

@keyframes section1-gradient {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0;
  }
}
.first-section-container {
  padding: 5rem 3rem 0 3rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.hero-header-container {
  font-size: clamp(4rem, 3vw, 6rem);
}

.slidein-text-container {
  font-size: clamp(3rem, 2vw, 5rem);
  text-align: center;
  overflow: hidden;
  width: 90%;
}

.slidein-text {
  animation: slidein-text var(--slidein-timer) cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

@keyframes slidein-text {
  0% {
    transform: translateX(-150%);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(150%);
  }
}
.hero-img-container {
  display: flex;
  justify-content: center;
}

.hero-img {
  aspect-ratio: 4/3;
  width: clamp(40rem, 70%, 45rem);
  border-radius: 2rem;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.hero-bio-container {
  padding: 0 3rem;
  font-size: clamp(2.4rem, 2vw, 3.6rem);
  letter-spacing: 2.5px;
}

.hero-bio-container > *:not(:first-child) {
  margin-top: 2rem;
}

.hero-bio-header {
  text-align: center;
}

.hero-bio-text::before {
  content: "";
  margin-left: 4rem;
}

@media (max-width: 1095px) {
  .logo-header, .hero-bio-header, .hero-bio-text:nth-of-type(1) {
    display: none;
  }
  .hero-img-container, .hero-bio-container {
    grid-column: span 2;
  }
  .first-section-container {
    grid-template-rows: 12rem 1fr 1fr;
    gap: 3rem;
    text-align: center;
  }
  .hero-img {
    width: clamp(30rem, 50%, 38rem);
  }
  .hero-bio-container {
    align-self: flex-start;
  }
}
@media (max-width: 625px) {
  #link-menu {
    justify-content: space-evenly;
  }
  #fp-nav {
    display: none;
  }
  .icon-link-container {
    margin: 0;
    position: fixed;
    right: 0;
    top: 25%;
    bottom: 25%;
    width: 6rem;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .icon-link-container[data-visible=true] {
    transform: translateX(0%);
    transition: transform 0.5s;
  }
  .nav-toggler {
    display: unset;
  }
  i[class~=open] {
    display: none;
  }
  .first-section-container {
    padding: 2rem;
    grid-template-rows: 12rem max-content 1fr;
    gap: 1rem;
  }
  .hero-header-container {
    font-size: clamp(2.8rem, 6vw, 4rem);
  }
  .slidein-text-container {
    font-size: clamp(2rem, 4vw, 4rem);
  }
  .hero-img {
    width: clamp(25rem, 60%, 38rem);
  }
  .hero-bio-container {
    font-size: clamp(1.6rem, 4vw, 2.4rem);
    line-height: 1.5;
  }
  .hero-bio-text::before {
    margin: 0;
  }
}
.section:nth-child(2) {
  background-image: linear-gradient(135deg, hsl(0deg, 0%, 10%), hsl(0deg, 0%, 10%) 35%, hsl(196deg, 100%, 50%), hsl(0deg, 0%, 10%) 65%, hsl(0deg, 0%, 10%));
  background-size: 500% 500%;
  animation: translate-background 30s linear infinite;
}

@keyframes translate-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.second-section-container {
  width: clamp(60rem, 80%, 110rem);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.section-two-heading {
  margin-top: 4rem;
  text-align: center;
  font-size: clamp(4rem, 5vw, 6rem);
  letter-spacing: 2px;
}

.projects-container {
  margin-top: 3rem;
}

.projects-container > * {
  margin-bottom: 3rem;
}

.project-type-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.project-type-button {
  padding: 1rem 2rem;
  font-size: clamp(1.6rem, 1vw, 2rem);
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 100vmax;
  cursor: pointer;
  transition: transform 0.5s;
}

.project-type-button:hover {
  transform: scale(1.15);
}

.react {
  background-color: #282c34;
  border: 2px solid #61dafb;
  color: #61dafb;
}

.sql {
  background-color: #3E6E93;
  color: white;
  border: 2px solid #f29221;
}

.frontend {
  background-image: linear-gradient(90deg, orange, yellow, rgb(0, 102, 255));
  border: 2px solid white;
  color: black;
}

.cli {
  background-color: black;
  border: 2px solid white;
  color: white;
  font-family: monospace;
}

.project-container {
  overflow-y: hidden;
}

.popInOut-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.popInOut-container .project-screenshot {
  align-self: center;
}

.project-buttons-container {
  text-align: center;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.project-img {
  width: 100%;
  aspect-ratio: 4/3;
  border: 0;
  border-radius: 1rem;
}

.project-information {
  padding: 0 3rem;
  justify-self: center;
  width: 100%;
  text-align: center;
  font-size: clamp(2.2rem, 1.5vw, 2.6rem);
  letter-spacing: 1.5px;
}
.project-information a {
  color: white;
}
.project-information .project-information-header {
  font-size: clamp(3rem, 2vw, 4rem);
}

.project-information > * {
  margin-bottom: 1.5rem;
}

.project-description {
  text-align: left;
}

.project-description::before {
  content: "";
  margin-left: 3rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --slidein-timer: 0;
}

html {
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
}

body {
  height: 100%;
  overflow-x: hidden;
}

strong {
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, black, black 40%, white, black 60%, black);
  background-clip: text;
  background-size: 400% 400%;
  color: transparent;
  animation: focus-strong 3s linear infinite;
}

@keyframes focus-strong {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#fp-nav ul li .fp-tooltip {
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

#fp-nav ul li a span {
  background-color: white;
  transition: background-color 0.5s;
}

#fp-nav ul li a span:hover {
  background-color: white;
}

.active {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pop-in {
  animation: pop-in 1s ease-out forwards;
}

@keyframes pop-in {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
.pop-out {
  animation: pop-out 1s ease-out forwards;
}

@keyframes pop-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}

/*# sourceMappingURL=styles.css.map */
